@model IEnumerable<mvctest.Models.Destytojas>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Vardas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pavarde)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Metai)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vardas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pavarde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Metai)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDestytojas">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDestytojas">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDestytojas">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
